@import url("{{ .Site.BaseURL }}assets/css/styles.css");

@import "color";

@media (min-width: 767px) {
    .sidebar-wrapper {
        width: 270px;
    }
}

body {
    color: var(--font-color);
    background: var(--bg-color);

    a {
        color: var(--link-color);
        &:hover {
            color: var(--link-hov-color);
        }
    }

    & .wrapper {
        border-radius: 20px;
        overflow: auto;
        box-shadow: var(--shadow-color) 5px 5px 20px;
    }

    .profile-container .tagline ul {
        list-style-type: square;
        padding-left: 35px;

        & li {
            text-align: left;
        }
    }

    .sidebar-wrapper {
        background-color: var(--main-color);
        & .name {
            font-size: 28px;
        }
        & .list-unstyled.contact-list i.fa {
            text-align: center;
            width: 18px;
        }
    }

    .main-wrapper {
        background: var(--main-wrapper-bg-color);
        & .section-title {
            color: var(--header-color);
            & .fa {
                background-color: var(--header-color);
            }
        }
        & .printable-info {
            margin: -60px -35px 50px -65px;
            padding: 5px 0;
            text-align: center;
        }
        & .experiences-section .meta {
            & .location {
                float: right;
            }
            & .job-title {
                color: var(--section-title-color);
            }
            & .time, & .company, & .location {
                color: var(--section-title-darker-color);
                display: inline-block;
                margin-bottom: 10px;
            }
        }
        & .educationset .meta {
            & .degree {
                color: var(--section-title-color);
                font-size: 16px;
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 500;
            }
            & .college {
                color: var(--section-title-darker-color);
            }
        }
        & .peering-info {
            padding-left: 30px;
            & .section-subtitle {
                color: var(--header-color);
                border: var(--header-darker-color) solid 1px;
                border-left: var(--header-darker-color) solid 3px;
                background-color: var(--header-lighter-color);
                font-size: 20px;
                border-radius: 5px;
                padding: 2px 8px 2px 8px;
            }
            & .peering-location {
                width: 100%;
                & tr:first-of-type {
                    border-bottom: var(--header-darker-color) solid 2px;
                    & th:nth-child(1) {
                        width: 30%;
                    }
                    & th:nth-child(2) {
                        width: 20%;
                    }
                    & th:nth-child(3) {
                        width: 50%;
                    }
                }
                & tr:nth-child(odd):not(:first-of-type) {
                    background-color: transparent;
                }
                & tr:nth-child(even):not(:first-of-type) {
                    background-color: var(--header-lighter-color);
                }
                & .service-item {
                    padding-inline-start: 20px;
                    margin-bottom: 0;
                }
            }
            & .peering-ix {
                width: 100%;
                & tr:first-of-type {
                    border-bottom: var(--header-darker-color) solid 2px;
                    & th:nth-child(1) {
                        width: 30%;
                    }
                    & th:nth-child(2) {
                        width: 20%;
                    }
                    & th:nth-child(3) {
                        width: 50%;
                    }
                }
                & tr:nth-child(odd):not(:first-of-type) {
                    background-color: transparent;
                }
                & tr:nth-child(even):not(:first-of-type) {
                    background-color: var(--header-lighter-color);
                }
                & .addr-item {
                    padding-inline-start: 20px;
                    margin-bottom: 0;
                }
            }
        }
    }
}
