<!DOCTYPE html>
    {{ partial "lang.html" . }}
<head>
    {{ partial "peering-head.html" . }}
    <style>
        .main-wrapper {
            padding-right: 60px;
        }
    </style>
</head>

<body>
    <div class="wrapper">

        <div class="main-wrapper">

            {{ if .Site.Params.peering.enable }}
            {{ partial "peering.html" . }}
            {{ end }}

        </div><!--//main-body-->
    </div>

	{{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}
</body>
</html>
