<section class="peering-section section">
    <h2 class="section-title"><a name="peering"><i class="fa {{ .Site.Params.peering.icon }}"></i></a>{{ T "peering" }}</h2>
    <div class="peering-info">
        {{- range .Site.Params.peering.info }}
            <h3 class="section-subtitle"><a href="{{ .db }}" target="_blank">{{ .name }} (AS{{ .num }})</a> Peering Information</h3>
            <ul>
                <li>ASN: <a href="https://bgp.he.net/AS{{ .num }}" target="_blank"><code>AS{{ .num }}</code></a> ({{ .name }})</li>
                <li>Policy: {{ .policy }}</li>
                {{- range (index . "as-set") }}
                <li>AS-SET: <a href="https://apps.db.ripe.net/db-web-ui/query?searchtext={{ . }}" target="_blank"><code>{{ . }}</code></a></li>
                {{- end }}
                {{- range .prefix }}
                <li>
                    inet: <a href="https://bgp.he.net/net/{{ .net }}" target="_blank"><code>{{ .net }}</code></a>
                    {{- range (index . "sponsors") }}
                    (Sponsor: {{ if not (eq .web nil) -}}<a href="{{ .web }}" target="_blank">{{- end -}}{{ .name }}{{- if not (eq .web nil) -}}</a>{{- end -}})
                    {{- end }}
                </li>
                {{- end }}
                {{- range .prefix6 }}
                <li>
                    inet6: <a href="https://bgp.he.net/net/{{ .net6 }}" target="_blank"><code>{{ .net6 }}</code></a>
                    {{- range (index . "sponsors") }}
                    (Sponsor: {{ if not (eq .web nil) -}}<a href="{{ .web }}" target="_blank">{{- end -}}{{ .name }}{{- if not (eq .web nil) -}}</a>{{- end -}})
                    {{- end }}
                </li>
                {{- end }}
            </ul>
            {{- with .contact }}
                Please kindly contact with <a href="{{ .url }}" target="_blank">{{ .name }}</a> for peering operations.
            {{- end }}
        {{- end }}
        <h3 class="section-subtitle">Locations</h3>
        {{- if gt (len .Site.Params.peering.locations) 0 }}
            <table class="peering-location">
                <tr>
                    <th>Origin</th>
                    <th>Port</th>
                    <th>Services</th>
                </tr>
                {{- range .Site.Params.peering.locations }}
                <tr>
                    <td>{{ .origin }}</td>
                    <td>{{ .port }}</td>
                    <td>
                        <ul class="service-item">
                        {{- range .services }}
                        <li>{{ . }}</li>
                        {{- end }}
                        </ul>
                    </td>
                </tr>
                {{- end }}
            </table>
        {{- end }}
        <h3 class="section-subtitle">IX</h3>
        {{- if gt (len .Site.Params.peering.ix) 0 }}
            <table class="peering-ix">
                <tr>
                    <th>IXP</th>
                    <th>Port</th>
                    <th>Addresses</th>
                </tr>
                {{- range .Site.Params.peering.ix }}
                <tr>
                    <td><a href="{{ .db }}" target="_blank">{{ .ixp }}</a></td>
                    <td>{{ .port }}</td>
                    <td>
                        <ul class="addr-item">
                        {{- range .addr }}
                        <li><code>{{ . }}</code></li>
                        {{- end }}
                        </ul>
                    </td>
                </tr>
                {{- end }}
            </table>
        {{- end }}
    </div>
</section><!--//peering-section-->
